[2018-07-12 12:54] douglasjam opened #1 "no feedback when you cast your vote"
After you cast your vote you do not have a feedback it was voted.
The button should be bold afterwards.

[2018-07-19 22:50] andrey-nc opened #2 "Error: channel_not_found"
Repro steps:
1. Open private channel
2. Type "/pp test @user1 @user2"
3. See chat message from Poker Planner APP with text "channel_not_found"

[2018-07-30 21:34] janderberg commented on #2
I got the same error using a channel that is shared between multiple workspaces.

[2018-07-31 08:55] adi27 opened #3 "Show who has already voted"
As a user I would like to see who already participated in a vote to be able to close a poll if enough votes have been collected. Currently if one person is away the vote will hang and one has no information about current voting status.

[2018-07-31 10:04] dgurkaynak commented on #1
As far as I know, slack does not support personalized messages. There is just one message displaying either vote buttons or results. So that's why we can not implement this.

[2018-07-31 10:04] #1 closed

[2018-07-31 10:34] dgurkaynak commented on #2
Hey guys, I can not reproduce this issue.

1. Created new private channel
2. `/pp test @user1 @user2` worked for both cases:
     - user1 and user2 are members of the channel
     - user1 and user2 are **not** members of the channel

Can you reproduce this issue everytime or does it work sometimes?

[2018-07-31 10:37] dgurkaynak commented on #3
Hey @adi27, this is a requested feature but I am not planning to implement due to lack of time. Any pull requests are welcome.

[2018-07-31 10:41] adi27 commented on #3
It is, but maybe if the project is open source, then such a request should be left open, then someone might want to implement it in the future?

[2018-07-31 10:48] dgurkaynak commented on #3
Yeah, you're right 👍

[2018-08-06 16:14] janderberg commented on #2
My apologies, my Slack admin already uninstalled the app and I do not have access to install and test it in that Slack environment myself. But when I had it installed, I only tried with a private shared channel, and from what I recall I was getting this error when specifying users and when I didn't specify users.

[2018-08-17 20:40] dgurkaynak commented on #3
Hey @adi27, I've implemented this feature and just shipped it. Can you please try and confirm it?

[2018-08-22 12:41] douglasjam commented on #3
it works, thank you! big improvement

[2018-08-22 12:54] douglasjam opened #4 "action cancel"
Would be cool to have a new feature: "Cancel voting", it would abort the poll and do not reveal the votes, currently we have no choice to do not show it, just revealing.

[2018-08-22 12:56] adi27 commented on #3
Sorry for late reply. It works very good, thank you!

[2018-08-22 12:56] #3 closed

[2018-08-22 17:59] dgurkaynak commented on #4
This is a reasonable request, and I guess it will be easy to implement it. I will look into this 👍

[2018-08-27 08:28] dgurkaynak commented on #4
Hey @douglasjam, I've just implemented and shipped this feature. Could you please try?

[2018-08-27 08:35] douglasjam commented on #4
It works as expected, thanks again! 👍

[2018-08-27 08:35] #4 closed

[2018-08-30 14:44] vitx0001 opened #5 "'Internal server error, please try again later' error message encountered when other slack bots are in the same channel"
We have a custom slack bot in our channels.  When we try poker planner it gives an error of 'Internal server error, please try again later'.  When we remove all bots from the channel, then the poker planner works.

[2018-09-14 06:56] dgurkaynak commented on #5
Hey @vitx0001, what is your slack team id and when did this issue occurred?

[2019-01-02 13:03] RadekAm opened #7 "Internal server error, please try again later When I requested /pp"
Hi,

when I've tried to request /pp in a private channel I got "Internal server error, please try again later" message.

Thanks,

RA

[2019-07-02 21:11] dclear commented on #7
Same here

<img width="508" alt="Screen Shot 2019-07-02 at 2 27 53 PM" src="https://user-images.githubusercontent.com/1197912/60546915-a1edd500-9cdb-11e9-9410-af2b12c8bc0d.png">

[2019-07-02 21:16] dclear opened #8 "502_service_error on new game submit"
When posting a new game in channel (starting today), it’s rejecting my game submissions with:

<img width="508" alt="Screen Shot 2019-07-02 at 2 27 53 PM" src="https://user-images.githubusercontent.com/1197912/60547149-3a845500-9cdc-11e9-90e6-62faae1a6eed.png">

Your app is very useful, by the way, thank you.

[2019-07-02 23:38] asaleem13 opened #9 "Website down"
https://deniz.co/pp/

Please advise when this will be up

[2019-07-03 05:07] dgurkaynak commented on #7
Hey, all the processes in my server got killed somehow. I just restarted all of them and it's working now. Thanks for letting me know 👍

[2019-07-03 05:07] #7 closed

[2019-07-03 05:07] dgurkaynak commented on #8
See #7

[2019-07-03 05:07] #8 closed

[2019-07-03 05:08] dgurkaynak commented on #9
See #7

[2019-07-03 05:08] #9 closed

[2019-07-08 22:07] dclear commented on #8
ty!

[2019-09-16 16:32] jeremy-j-ackso commented on #5
I've been getting this same problem. We are not self-hosting.

[2019-09-17 10:00] dgurkaynak commented on #5
Hey @jeremy-j-ackso, thanks for reporting. Can you help me to reproduce this issue?
- Which type of channel are you using on? (public or private channel?)
- Do you use any other bots/apps on your slack? If so, what are they?

[2019-09-17 15:30] jeremy-j-ackso commented on #5
* It's a private channel.
* We have a ton of apps since this is for our mid-size company, and different teams have different needs. I can't easily get a list, but ballpark would be ~40.

[2019-10-03 14:12] dgurkaynak commented on #2
I finally managed to trace and reproduce this issue. This is happened on private channels when app is installed by someone who does not have permission to that channel. To fix this, app needs to re-installed by a user who has access to that private channel/group. (This process renews the access token of the team.)

When this occurs, Poker Planner is now printing an instruction for fix.

![image](h

[2019-10-03 14:12] #2 closed

[2019-10-03 14:23] dgurkaynak commented on #5
Hey guys, I've just fixed an issue related with starting sessions on private channels/groups when app is installed by someone who does not have permission to that channel. It may fix this `Internal server error` issue, however I'm not sure.

I've also added error code and unique id to error messages. If you encounter this error again, can you report that error? So I can trace more deeply.

[2019-11-12 15:53] dclear opened #10 "Error when voting in Slack"
Hi @dgurkaynak - starting yesterday, we get the following error in Slack on submit of a vote:

`Could not parse callback_id "vote_jG6l1R_j"`

Thanks.

[2019-11-12 16:07] #10 closed

[2019-11-12 16:11] dgurkaynak commented on #10
Hey @dclear, thanks for reporting. The issue was when generated id contains `_` (underscore) character, it brakes the string parsing back from slack's callback id. I've just fixed it and deployed already.

[2019-11-12 16:13] dclear commented on #10
Fantastic, thanks for the quick response!

[2020-03-19 15:49] dgurkaynak commented on #5
Due to no response, I'm closing this issue. Please reopen if it happens again.

[2020-03-19 15:49] #5 closed

[2020-03-19 16:03] dgurkaynak opened #12 "Customizable poker values per channel"
This is a feature request I've received from e-mail.

Feel free to add your reaction or comment.

[2020-03-20 07:42] dgalezow commented on #12
That would be great!

[2020-04-01 11:07] choxnox opened #13 "Way to hide "Reveal" and "Cancel" buttons"
Is there a way to hide these buttons for everyone except for the author of the poker topic?

[2020-04-01 13:22] dgurkaynak commented on #13
Unfortunately no, Slack does not support this kind of functionality.

[2020-04-01 13:22] #13 closed

[2020-04-08 23:00] c0diq opened #14 "Voting includes sender when using @user syntax"
When using the syntax `/pp text @user1 @user2` the bot will also include the user who typed the message. Usually the scrum master is not voting. If user writing the message wishes to be part of the voting its username should be added to the list instead.

[2020-04-09 14:58] dgurkaynak commented on #14
That's a valid request, and it makes sense that if you're explicitly mentioning the participants, you need to mention yourself explicitly if you want to participate 👍 I will look into this when I've spare time.

[2020-04-15 14:41] BrockBelmonte opened #15 "Average Results Config Option"
Ability to take the average of all of the votes and reveal the average with the individual answers (Only if all options are numeric)

Example:

User votes:

1
4
2
6
Average: 3.25 (Or 3 rounded if you do not want to support decimals)

Thank you in advance for looking into this, the bot is great!

[2020-04-16 10:06] dgurkaynak commented on #15
This is doable, but I'm not sure that would be a great fit for the project. First of all, as you mentioned, there can be non-numeric values, such as `∞` or `?`. More than that, these values can be customized for each workspace, some workspaces are using just emoji answers.

Another thing is, I think there is no need to taking an average because most of the poker planning sessions are performed by

[2020-04-16 13:21] BrockBelmonte commented on #15
That makes total sense, just thought it could be a cool addition as an option to use if a user wanted to include it. I guess it could be a bit of a small group who actually enable that feature and use it as it definitely would not apply to all situations.

Thank you so much for your quick response and consideration, I really appreciate it!

[2020-04-18 01:12] ritchefelix opened #16 "Scrum Masters doesn't usually vote."
I facilitate all our planning poker sessions and I never vote. Is there a way that I will not be asked to vote? If bug #14 is implemented, it will be tedious to use "/pp task @user1 @user2... @userN" every time if I don't want to be included in the voting. Maybe implement a flag for SM not voting?

[2020-04-21 17:00] leahkoerper opened #17 "Topics expire too quickly"
My team is spread across timezones and we were really hoping that this app would let us do a lot of asynchronous planning poker via Slack. However, the polls apparently expire at some point, which means we end up with some of the team locked out of voting and I am unable to reveal the results we did get. I would like to be able to have topics not expire, or at least I would like to know what the e

[2020-04-22 09:21] dgurkaynak commented on #16
Hmm, that's a tough one. Implementing some kind of a flag or a config for this will require great effort since this app is extremely simple, and I'm not keen on implementing a user-based configuration system.

After fixing #14, I think that the best bet is creating a custom user group for the voters, so that you can use like `/pp task @usergroup`.

[2020-04-22 12:03] dgurkaynak commented on #17
Actually, there is no explicit expiration duration. However, this app is so simple that poker planning sessions are not persisted at all 😅  All the sessions are living in the memory, so that all the data is gone when the server or process is restarted etc. I'm assuming that you get `Ooops, could not find that topic, it may be expired` error after some time, right?

If so, I'm adding `enhancement`

[2020-04-22 12:31] dgurkaynak commented on #15
Thank you for recommending this 👍 I'm leaving this issue open, so people can come and upvote this feature.

[2020-04-22 15:12] leahkoerper commented on #17
Yes, that's the message we're getting! Thanks for clarifying.

[2020-04-22 15:53] dgurkaynak commented on #14
Hey @c0diq, this is fixed & deployed 🚀  Can you please try it?

[2020-04-22 16:09] dgurkaynak commented on #16
Issue #14 is just fixed & deployed. While working on it, I've discovered a weird & hacky workaround that can be useful for your situation. You can set your slack status as `away`, so when you use `/pp task` without any explicit mentions (which defaults to `@here` mention), poker planner bot won't detect & add you as a participant.

![image](https://user-images.githubusercontent.com/1475786/8000530

[2020-04-22 19:59] c0diq commented on #14
It works. Thank you very much!

[2020-04-22 21:48] spmiller commented on #17
Since we're all working from home, we've found this tool to be an almost perfect way of getting estimations. Thanks for your hard work, @dgurkaynak!

We're also seeing this message in our team too. Can we help to implement this? We'd need some pointers on where the session could/should be stored as we don't have experience writing a slack app, but we would love to help out.

[2020-04-22 23:24] ritchefelix commented on #16
That's a good work around. I can ask those who will not be voting to set themselves as away.

Right now, I click reveal when everyone that needs to vote has voted. It's not that much of a problem but I appreciate the effort on trying to find a solution.

BTW, this app is great and very useful!!!

[2020-04-22 23:24] #16 closed

[2020-04-23 04:53] #14 closed

[2020-04-30 00:44] tomasztucholski opened #19 "Add ability to make the buttons no-op for anyone but the author"
It might be configurable or default, but it would really help make the buttons no-op for anyone but the author of the vote.

[2020-04-30 06:11] dgurkaynak commented on #19
Why do you need this?

[2020-04-30 06:15] tomasztucholski commented on #19
Currently the buttons are big and red (especially on Slack's dark theme) and very enticing for people to click. Every time a new person is introduced to the tool they ruin at least some of the votes by clicking "Reveal" on "Cancel", not knowing that it will end the vote and show all of the answers.
From time to time existing users click the buttons by mistake too, exposing half-finished votes and

[2020-04-30 06:26] dgurkaynak commented on #19
I can understand the confusion of the new people, which shouldn't last long. However, I didn't think about accidental clicks, this is a legit request 👍 So, I'm leaving this issue open. If there are enough requests, we can implement it.

[2020-05-07 11:57] Jackseed commented on #15
Average result would be really cool! If it's implemented, a way to chose the result calculation parameter so we may also use median instead of sum would be great.

[2020-05-08 18:39] rrollins opened #20 "Unexpected Slack API Error: "user_not_found""
Unexpected Slack API Error: "user_not_found"

error id: rABflyn8E

[2020-05-12 06:18] dgurkaynak commented on #20
Hmm, when the app is trying to fetch the presence (online/offline status) of all the members of a channel, it seems Slack API couldn't find (at least) one specific user.  Do you have some kind of guest user in that channel?

[2020-05-12 17:10] rrollins commented on #20
@dgurkaynak yes it's a shared channel

[2020-06-04 22:00] rrollins commented on #20
@dgurkaynak let me know my dude if you're able to get to this.  my team can really use it.

[2020-06-05 06:56] dgurkaynak commented on #20
I'll try to look into this on weekend.

[2020-06-08 09:55] dgurkaynak commented on #20
@rrollins I've just shipped [a big release](https://github.com/dgurkaynak/slack-poker-planner/releases/tag/1.0.0-beta.2) which should fix this issue. Can you please try again and confirm?

[2020-06-08 10:00] dgurkaynak commented on #19
@tomasztucholski I've just shipped [a big release](https://github.com/dgurkaynak/slack-poker-planner/releases/tag/1.0.0-beta.2) with an ability to `protect sessions`. You can read the release notes for further details. So I'm closing this issue, let me know if you need anything.

[2020-06-08 10:00] #19 closed

[2020-06-08 10:03] dgurkaynak commented on #17
@leahkoerper @spmiller I've just shipped [a big release](https://github.com/dgurkaynak/slack-poker-planner/releases/tag/1.0.0-beta.2). The sessions are now persisted for 48 hours. So I'm closing this issue, let me know you guys need anything.

[2020-06-08 10:03] #17 closed

[2020-06-08 10:04] dgurkaynak commented on #12
This feature is implemented in [v1.0.0-beta.2 release](https://github.com/dgurkaynak/slack-poker-planner/releases/tag/1.0.0-beta.2).

[2020-06-08 10:04] #12 closed

[2020-06-08 23:10] spmiller commented on #17
Thanks for your hard work @dgurkaynak!

[2020-06-10 16:03] nicholasgorgone-nbcuni opened #21 "Users unable to vote"
App was working fine until today. Now users receive the response "You are not a participant of that session" when attempting to vote.

We have removed the app and reinstalled to see if that would do anything. It didn't work.

This is a private channel and the issue just started today for us.

[2020-06-11 14:55] nicholasgorgone-nbcuni commented on #21
@dgurkaynak It seems to be working now. I will monitor it for a few days and close the issue if nobody else sees it occurring. Thanks for your help

[2020-06-12 13:02] #21 closed

[2020-06-22 06:18] dgurkaynak commented on #20
@rrollins I'm closing this issue. If the problem persists, feel free to open it again.

[2020-06-22 06:18] #20 closed

[2020-08-06 09:15] Sergej-Popov commented on #15
From experience, it really streamlines the decision-making process and we only talk about the score in more details if there are outliers and/or someone disagrees.

Understandably, the average/median would only be available only for numeric entries, but still, it helps a lot. For example, [PlanITpoker](https://www.planitpoker.com/) ignores non-numeric values and calculates what it can.

I'm happy

[2020-08-08 07:33] dgurkaynak opened #24 "A button to restart voting session after reveal"
Received from e-mail, feel free to add your reaction or comment.

[2020-08-08 07:50] dgurkaynak commented on #15
@Sergej-Popov It would be great!

I think we can add a single line to the result message, I don't want to cause visual clutter. But should we indicate which values are non-numeric and ignored while calculating the average. What's on your mind?

[2020-08-14 09:31] Sergej-Popov commented on #15
Yes @dgurkaynak , a single line that shows average & median results is enough.
Here is what I propose:
In the new session form under section `Other (optional)` to add an additional checkbox option:

- [ ] Calculate the average (only numeric points will be used)

Given user has selected the option in the result window an additional single line will show the result:
[code]
Average to be rounded to 1

[2020-08-14 10:29] dgurkaynak commented on #15
@Sergej-Popov sounds great! I definitely agree with you about not including median 👍

[2020-08-14 15:33] Sergej-Popov opened #26 "Voting timer"
A simple voting timer. Only displayed on results.
Does not limit the voting time, simply displays how long it took.
[code]

Can be made configurable, but it doesn't add too much noise so I feel this could be always on.

[2020-08-14 15:43] Sergej-Popov commented on #24
Can just create a new session. All options are memorized so it is very simple.
The benefit of making a new session is that the user can see if the result & votes are different.

[2020-08-15 07:38] #15 closed

[2020-08-15 07:56] dgurkaynak commented on #15
Hey guys, I've merged @Sergej-Popov's pull request and just deployed it. So this feature is now live. Thanks again @Sergej-Popov 🙌

[2020-08-15 07:57] Sergej-Popov commented on #15
Thanks, for the great app! :)

[2020-08-15 08:11] dgurkaynak commented on #26
This can be easily implemented, but I don't feel that this is necessary. Do you have a specific case/need for this?

[2020-08-15 08:20] Sergej-Popov commented on #26
It's good to have a look at after we've sized all the stories, to see if we spent an unreasonable amount of time of some, discuss why they took so long and how we can prevent that in the future. e.g. was the story not spec'ed well enough or did we sidetrack etc.

Something that [PlanITPoker](https://www.planitpoker.com) has. It seems nice and unobtrusive to me.

[2020-09-04 07:57] marcglobality commented on #17
Hi @dgurkaynak , the 48h is still too fast for us. Could be increased to one week? I guess now that you have the 48h should be just changing a value and would help us a lot. Thanks!

[2020-09-04 08:19] dgurkaynak commented on #17
@marcglobality I've just changed it to 7 days. However, I don't want to guarantee the persistence of this change, since I don't know how much storage it will cost to my server. If I change it back, I'll let you know. But until that happens, newly created sessions are now persisted for 7 days 👍

[2020-09-04 12:48] marcglobality commented on #17
great, thank you so much! 🙌

[2020-09-15 09:51] MattBodey opened #28 "Reviled votes are not sorted by numerical order"
Currently, points are sorted by js string sort when revealing results. This means that points are sometimes shown in a non-logical order.

Example:

Given the points: 1, 2, 3, 5, 8, 13, 20, ☕

On the reveal screen, this would show in the following order (assuming all have votes): 1, 13, 2, 20, 3, 5, 8, ☕

Expected behaviour:

As most point scores are numerical. The sort function should attempt to

[2020-09-15 10:32] tjp502 commented on #28
Rather than sorting numerically, could it be sorted in the same order as the points themselves? So if someone wanted their points to be `one two three` they'd show in the results in that order.

[2020-09-15 10:54] tjp502 opened #29 "Default points set includes "1/2", which does not work with average option"
With the average option turned on, "1/2" is identified as a numeric value, and so counted towards the calculation, but incorrectly parsed as `1.0`.

This could be considered a bug, or simply a limitation of the system that people have to work around (e.g. by replacing the point with "0.5"), but as "1/2" is in the set of default points, this probably needs addressing one way or another.

[2020-09-16 12:50] dgurkaynak commented on #29
Hmm, yeah you are right. I guess we can change the default value to `0.5` 👍

[2020-09-16 13:02] dgurkaynak commented on #28
I agree with @tjp502. When someone is setting custom points, I believe that they're sorting the points implicitly in their head. We should adhere to that order, which is also the same order of points located on the voting screen.

What do you say @MattBodey? If you still want to pick it up, I'd be more than happy 🙌
Otherwise, I can look it up this weekend.

[2020-09-17 08:18] MattBodey commented on #28
@dgurkaynak  I found some time this morning to give this a look. PR is up and I look forward to your feedback 🙏

[2020-09-20 11:43] #29 closed

[2020-09-20 11:52] dgurkaynak commented on #28
Hey @MattBodey, I've just deployed the code, it's live now 🙌
Thanks again for your contribution 👍

[2020-09-20 11:52] #28 closed

[2020-10-28 10:39] loehnertz opened #31 "Race condition when registering votes"
We are using the bot weekly in remote pokering in these current times. We overall really like it 👍🏻

However, since the latest release, we are struck by a severe race condition when pokering.
It seems like the bot only registers a single vote at a time, overwriting the internal `Session::votes` state in some way.
The effect is also visually noticeable: When the votes come in in quick succession, t

[2020-10-28 10:49] loehnertz commented on #31
Pretty surely it comes from this commit 4c740e. I'll try to fix it!

[2020-10-28 10:50] loehnertz commented on #31
Pretty surely it comes from this commit [4c740e](https://github.com/dgurkaynak/slack-poker-planner/commit/4c740edff42422be0e1accbbee0d4afdd9ab4e30). I'll try to fix it!

[2020-10-28 10:50] loehnertz commented on #31
Pretty surely it comes from commit [4c740e](https://github.com/dgurkaynak/slack-poker-planner/commit/4c740edff42422be0e1accbbee0d4afdd9ab4e30). I'll try to fix it!

[2020-10-28 10:57] loehnertz commented on #31
Pretty surely it comes from commit [4c740e](https://github.com/dgurkaynak/slack-poker-planner/commit/4c740edff42422be0e1accbbee0d4afdd9ab4e30).

[2020-10-28 13:43] dgurkaynak commented on #31
Hmmm, yeah, you're right, there is a chance of race condition, definitely. But I think the commit you mentioned has nothing to do with it. There's always been a chance of race condition, even before that commit. Just when an in-memory database is used, there is no chance of race condition. However, I'm using Redis in production. There is always a network-delay; in case of race condition, the lates

[2020-11-04 09:57] loehnertz commented on #31
Yeah, I think it needs a bigger refactor then to upsert the votes separately from the entire state or do it transactionally.
If I can find time, I'll look into it soon!

[2020-11-05 21:56] joeyfezster opened #32 "batch votes"
Hi,
I don't know if this is the best way to request a feature (and sorry if it's not) - but here goes:

# Batch creation of voting sessions.
## Context:
1. We use an external task mgmt tool (clubhouse), and also run as a fully remote team.
1. we can get a list of permalinks to all tasks requiring estimation from the tasks manager / or a simple scraper
1. We're looking for an easy way to do estimat

[2020-11-06 09:47] dgurkaynak commented on #32
Hey @joeyfezster, it's definitely the correct place to request a feature; you're very welcome. This is the first time I got this feature request. If there are enough upvotes or requests, we'll see what we can do. Maybe we can convert the session title input to a multiline textarea, and if some option is checked, the app will create a separate session for each line entered.

[2020-11-12 13:23] fidalgo commented on #32
This is an awesome idea, I landed here for the same request :)

[2020-11-27 15:46] hanks opened #33 "[Question] How can I use API to trigger /pp command"
Hi,

I installed pp with `https://deniz.co/slack-poker-planner/`, and want to use API to trigger `/pp title` in script, but do not know how to do that.

I believe I need to find the `request url` like `http://my.awesome.project.url/slack/pp-slash-command`, and also find the oauth token for that call.

Thanks for your time.

[2020-11-28 09:02] dgurkaynak commented on #33
Hi @hanks,

Unfortunately, that's not possible. Slack has a verification token that sends to our API in every request, and we reject all the requests with an invalid token as Slack suggests.

[2020-11-28 09:02] #33 closed

[2021-02-09 21:49] schusovskoy opened #36 "Reveal own vote"
It would be great if you can view your own vote before the voting is completed.

[2021-02-10 11:14] dgurkaynak commented on #36
Hey @schusovskoy, thanks for the suggestion, but AFAIK it's impossible 😕
The message of a voting session is just a traditional slack message. It cannot be personalized, everybody sees the same message.

[2021-02-10 14:22] hanks opened #37 "Set a timer to reveal the vote session automatically?"
Hi,

Just wondering:

1. is there such a feature to reveal the vote session automatically, because sometimes we do not want to wait for all the people to vote
2. if option 1 is not implemented right now, is there any API to simulate to click the reveal button? So we can call it by ourself

Thanks

[2021-02-11 15:05] dgurkaynak commented on #37
1. There is no such feature. That would require timer handling, which adds great complexity to the code. Setting timer is not an issue, but we need to some-kind-of persist it, so it can recover from crashes/restarts.
2. There is no public API. The current API is only for Slack API usage.

I'm not sure, but I feel like option 1 fits better in this product. I'm leaving this issue open, if there are

[2021-02-11 15:05] #36 closed

[2021-02-15 20:49] JonasBrand opened #38 "Environment variable REDIS_URL not used"
Hi,

trying to deploy the app with a Redis that runs on a custom hostname and port, the app did not connect to the Redis although the `REDIS_URL` environment variable was provided.
It seems the environment variable `REDIS_URL` is actually not used, but the app will always try to connect to the default port on localhost.

I managed to get it run only after explicitly reading the environment variabl

[2021-02-18 13:55] #38 closed

[2021-02-28 18:47] dgurkaynak commented on #31
I've just released `v1.1.2` and deployed to production, which should fix race condition 🚀
Closing this issue, let me know if the problem persists.

[2021-02-28 18:47] #31 closed

[2021-03-23 16:11] mpellerin42 opened #41 "Add a dismiss option to delete poker planner message"
We run our planning poker session in our squad channel in slack, and once the session is finished and corresponding stories are updated, I like to clean up the channel by deleting the estimation messages.
Poker planner app currently doesn't allow to do so, could a `Dismiss` button be added to delete the corresponding message on the channel?

[2021-03-24 08:21] dgurkaynak commented on #41
I think we can do that, slack's [chat.delete](https://api.slack.com/methods/chat.delete) api allows it.

[2021-03-26 14:42] calvis opened #43 "Option to automatically reveal the session before it expires"
From the website:

I'd like the option to have those sessions automatically revealed before they are completely deleted. Otherwise, I have to keep track of all of the open sessions and make sure I hit the "Reveal" button before the 7 days are up.

This seems related to #37, except I'm not interested in a custom timer, so I don't think it'd require any extra persistent data.

[2021-03-26 15:30] musab commented on #37
+1 on "reveal the vote session automatically" - is there anyway I can help on this feature?

[2021-03-26 15:38] dgurkaynak commented on #43
It's certainly doable. And it will be easier than custom timer as you've said.

[2021-04-12 10:44] fschoenfeldt opened #45 "Option to invite everyone from a channel to the poker"
I don't want to add every user by hand when I post `/pp xyz` into a channel.

Either I need a button that adds every user of a channel to the poker or an option that allows every user to contribute to the poker.

[2021-04-12 11:17] dgurkaynak commented on #45
In most cases, you need to add every user only for one time. After you successfully create a voting session, all the participants and points are remembered for that channel. Aren't this feature working for you?

[2021-06-08 02:57] dito commented on #45
Since the number of team members increases and decreases every month, I have to invite members to the channel and add them to pp twice. So I would like to have this option.

[2021-09-08 18:06] wengfatt opened #52 "Option (Checkbox) to show Mode count"
I would like to have a checkbox for showing Mode (highest vote) like how showing average.

[2021-09-17 08:19] dgurkaynak commented on #52
Hey @wengfatt, sorry for the late response. I'm not sure showing the highest point is a feature that most of the users want.
If there are more people request this, we can consider implementing it.

[2021-10-14 14:40] luislopes-outsystems opened #54 "Make poker planning available inside threads"
My team has a private channel for poker plannings, just to avoid spamming our current team channel. but it would be awesome if we could do an entire poker planning inside a thread instead of having to use a channel

[2021-12-02 06:05] nraj-willow commented on #24
Please add this feature, Today I accidentally clicked reveal and there is no way to unreveal results.

[2022-02-07 13:48] teese opened #56 "Ability to start new session by hitting the enter key, rather than mouse-click"
Currently, planning poker needs to be started with a mouse-click on "Start New Session".
It would be nice if we could "Start New Session" directly by hitting enter. This could be either after the pop-up window opens (i.e. "Start New Session" is pre-selected). Otherwise, there could be a additional option in the /pp commands that cause planning poker to start immediately with the previous participa

[2022-02-10 19:35] #56 closed

[2022-03-07 16:06] mtp1376 opened #60 "Auto-reveal the responses when they're about the be expired"
We had created a couple of messages for estimations, but unfortunately when we tried to reveal the estimations they were gone with the message
`Ooops, could not find the session, it may be expired or cancelled`

One workaround may be to auto-reveal the responses when they're about to be expired. Also, is there a reason why they have been expired? Is there a time limit for the estimation?

[2022-03-08 09:20] dgurkaynak commented on #60
Hey @mtp1376, as stated in the [FAQ](https://deniz.co/slack-poker-planner/#faq), the time limit is currently 7 days. After that, it will be deleted from database.

There is a time limit existing, because I don't want to maintain an ever-growing database since this is a free service. Sorry for the inconvenience. However you can always self-host and set the expiration limit astronomically high, [it'

[2022-03-08 09:20] #60 closed

[2022-03-09 09:39] UnbannableShnurD6 opened #61 "Unexpected Slack API Error"
An error popped up after clicking the button with number (rating):

`Unexpected Slack API Error: "fatal_error", please try again later (error code: _zql8Qusr).`

The error occurred once and did not bother me anymore.

[2022-03-09 12:18] phatpt8 commented on #61
It has happened in our organisation as well.
[code]

[2022-03-09 13:03] dgurkaynak commented on #61
Hey guys, thanks for reaching out. As @phatpt8 pointed out, it's an Slack related error. Slack doesn't respond our service's API requests. Since we have nothing to do but wait, I'm closing this issue.

[2022-03-09 13:03] #61 closed

[2022-04-04 09:55] Gabb1995 commented on #26
This would be a good feature to have, as @Sergej-Popov said we would like to know and analyse if we spent an unreasonable amount of time on some specific ticket so we can see what we need to fix during creation of tickets etc.

[2022-04-15 16:16] sprak3000 commented on #24
While it is easy to create a new session, it results in additional clutter in a channel. This could be reduced if Slack allowed slash commands in threads. Today is not that day though.

I would be in favor of this feature with the ability to see the previous votes / results. Maybe cap it though to no more than the previous one or two rounds along with the current set of results.

That said, our te

[2022-05-30 13:12] paulera opened #63 "Allow button text with spaces"
### Steps to reproduce

Create a poll with the following list of options

`0 1 2 singletext text-with-dash text_with_underline 🐝 :star: "text with spaces" ":smile: smile shortcode" "😀 happy unicode"`

### Current result

![image](https://user-images.githubusercontent.com/2051955/170998776-1b5e21fc-5516-4664-abcb-7d2316ed8437.png)

### Expected result

`"text with spaces"`, `":smile: smile shortcod

[2022-09-11 11:16] dgurkaynak commented on #63
Hey @paulera, this feature is implemented with 2.0.0 release, and it's already deployed 🚀
Now, you can use whitespaces inside double or single quotes.

[2022-09-11 11:16] #63 closed

[2022-09-11 11:19] dgurkaynak commented on #37
Hey guys, I've implemented customizable voting end timers with 2.0.0 release, and it's already deployed 🚀
Now you can specify a custom time duration to a voting session. After the timer is up, it's auto-revealed.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/1475786/189524594-7f8ac882-b1f0-46ee-82ba-5821efc37d53.png">

[2022-09-11 11:19] #37 closed

[2022-09-11 11:20] dgurkaynak commented on #43
Hey @calvis, I've implemented customizable voting end timers with 2.0.0 release, and it's already deployed 🚀
Now you can specify a custom time duration to a voting session. After the timer is up, it's auto-revealed.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/1475786/189524594-7f8ac882-b1f0-46ee-82ba-5821efc37d53.png">

[2022-09-11 11:20] #43 closed

[2022-09-11 11:23] dgurkaynak commented on #24
Hey guys, this feature is implemented with 2.0.0 release, and it's already deployed 🚀
Now, you can restart a session with a button after it's revealed.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/1475786/189524708-ccf781b1-e7e1-4e04-864b-820f847df256.png">

[2022-09-11 11:23] #24 closed

[2022-09-11 11:25] dgurkaynak commented on #41
Hey @mpellerin42, this feature is implemented with 2.0.0 release, and it's already deployed 🚀
Now, you can delete a voting session's message after it's revealed.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/1475786/189524708-ccf781b1-e7e1-4e04-864b-820f847df256.png">

[2022-09-11 11:25] #41 closed

[2022-09-11 11:29] dgurkaynak commented on #32
Hey guys, this feature is implemented with 2.0.0 release, and it's already shipped 🚀
Now, you can create multiple voting sessions by separating them into a new line (up to 10 sessions).

<img width="542" alt="image" src="https://user-images.githubusercontent.com/1475786/189524887-b9c5a8df-0dbc-4f12-af9b-be4cd75fd650.png">

[2022-09-11 11:29] #32 closed

[2022-09-12 07:07] mpellerin42 commented on #41
Awesome! thanks for the update @dgurkaynak

[2022-09-13 14:32] SteveGoodenough opened #67 "Make app resilient to a restart requiring re-auth in Slack"
I'm running poker-planner within a kubernetes cluster with the result that if k8s decides to restart the app or if using preemptible nodes (cheaper but get restarted at least once every 24 hours)  then the authorisation is lost and you cannot run poker-planner in Slack without having to re-auth it (requiring an admin to approve).

As an alternative to using the oauth call to authorise the app coul

[2022-09-13 21:31] dgurkaynak commented on #67
Hey @SteveGoodenough, you need to mount a persistent data folder to containers. We're saving access tokens in a sqlite file. See:
- https://github.com/dgurkaynak/slack-poker-planner/blob/master/.env#L18-L19
- https://github.com/dgurkaynak/slack-poker-planner/blob/master/README.md?plain=1#L58-L59

[2022-09-14 09:51] SteveGoodenough commented on #67
oh that's cool, sorry for missing that, I'll take a look.

Thanks for the quick reply too

[2022-09-14 09:51] #67 closed

[2022-09-15 01:30] Allan-W-Smith opened #68 "Allow tagging slack groups such as @custom_group to include the users"
Is this a feature people would be interested in?  I'm not sure how complicated this would be but if people are interested I'm happy to take a look.

[2022-09-19 13:52] dgurkaynak commented on #68
Hey @Allan-W-Smith, sorry for the late response.
My initial impression is this will be a bit complicated, the things that come to my mind:
- We're using Slack's built-in [user list multi-select input](https://api.slack.com/reference/block-kit/block-elements#users_multi_select) for participants selection. Now slack is handling everything: getting all the users in the workspace, listing them with th

[2022-09-19 14:04] Allan-W-Smith commented on #68
Thanks for the response. Your considerations are very reasonable.

Happy to contribute but I don't want to deter users from the project on privacy concerns.

My use case is based around devs being grouped by specialty. I don't need/want to tag a FE specialist into a BE ticket for PP. This is where I'm finding myself removing and adding users regularly depending on the ticket.

What about channel t

[2022-09-19 14:05] Allan-W-Smith commented on #68
Happy to close this if this isnt a direction you wisj to explore.

[2022-09-19 14:31] dgurkaynak commented on #68
To get all the users in a channel or conversation, I guess we will use [`conversations.members`](https://api.slack.com/methods/conversations.members) API, and it requires additional permission scopes as well 😕

Currently, the app remembers the last settings you used to start a voting session per channel/conversation. What I mean by "settings" is the points and participants (basically everything yo

[2022-09-19 14:40] dgurkaynak commented on #68
Maybe we can implement something like "settings profiles". Instead of remembering just the last used settings, user can save the current settings with a custom profile name, and then they can reuse one of those settings profiles?

[2022-09-19 14:41] Allan-W-Smith commented on #68
Yep understood. I'm across current function and you make a good point on leveraging existing channels as a solution. It doesn't quite fit my needs as I have channels per pod + a dedicated estimations channel aswell as stack focussed channels. Was keen on fitting it into my existing channel structures. With 40+ channels running most of the time i definitely don't need additional channels.

Happy fo

[2022-09-19 14:46] Allan-W-Smith commented on #68
Thinking default behaviour in a drop down with the ability to store and select additional profiles?

[2022-09-19 15:36] dgurkaynak commented on #68
You're more than welcome if you want to 😊

- I think [we can get a callback](https://api.slack.com/reference/interaction-payloads/block-actions#payload_timing) when user changes a selectbox (before submitting).
- [We can update](https://api.slack.com/surfaces/modals/using#modifying) the layout of the session creation form modal.
- We can also push another modal views as well (like multi-stage moda

[2022-09-20 00:08] Allan-W-Smith commented on #68
I think that all sounds pretty reasonable to me.  I'll do some hands on investigation when I can find some time and report back.

Talk soon

[2022-10-10 10:05] mrauscheder opened #69 "Link as title is broken now"
We always use the link to jira as title:

`/pp https://jira.website.com/browse/TL-11316` produced:
Title: [https://jira.website.com/browse/TL-11316](https://jira.website.com/browse/TL-11316)

But now PokerPlanner adds some angle brackets to the title if you use a link as title.
In the dialog that opens after using the /pp command, the title would be `<https://jira.website.com/browse/TL-11316>`

Th

[2022-11-04 10:19] lzientek opened #70 "Encoding problems on restart voting"
Hello,
First great work on this slack app !
We are using it and we found a small bug on the restart voting feature that encodes the title in html entities one more time.

Step to reproduce create a with a PP with the title " < something > " then restart voting and it will give you the title "&lt; something &gt;" and so on.

real exemple here.
![image](https://user-images.githubusercontent.com/3025

[2022-11-18 11:40] stdedos opened #71 "Feature Request: @mention `/pp` creator that the ticket has finished voting"
It would be great for housekeeping, if the bot could send a message on the `/pp` thread, saying that "Voting has finished @mention!" when voting finishes (normally, manually, by timeout, etc)

[2022-11-30 18:55] dgurkaynak commented on #69
Hey @mrauscheder, this issue should be fixed now. Thanks for the bug report 👍
Let me know if you need anything else.

[2022-11-30 18:55] #69 closed

[2022-11-30 18:56] dgurkaynak commented on #70
Hey @lzientek, this issue should be fixed now. Thanks for the bug report 👍
Let me know if you need anything else.

[2022-11-30 18:56] #70 closed